exportPattern("^[[:alpha:]]+")

useDynLib(htsr, .registration = TRUE)

#import
import("RSQLite")
import("DBI")
import("dplyr")
import("tibble")
import("utils")
import("shiny")
import("shinyFiles")
import("readxl")
import("ggplot2")
import("lubridate")
#import("editData")
import("stringr")
import("readr")
import("fs")
import("waiter")

importFrom(Rcpp,sourceCpp)
importFrom("stats","window", "lm", "sd", "quantile", "ts")
importFrom("purrr", "map")
importFrom("WriteXLS","WriteXLS")
importFrom("readr", "read_table", "read_lines")
importFrom("stringr", "str_split_fixed", "str_detect")
importFrom("grDevices", "colors", "palette.colors", "palette", "palette.pals")
#importFrom("directlabels", "dl.combine", "geom_dl")
#importFrom("openair", "cutData")
#importFrom("terra", "rast", "values")
